.bb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.inline {
  display: inline-block;
}
.middle {
  vertical-align: middle;
}
.left {
  float: left;
}
.right {
  float: right;
}
.docwidth {
  min-width: 960px;
  max-width: 1300px;
  margin-left: 20px;
  margin-right: 20px;
}
.minwidth {
  min-width: 960px;
}
.red-gradient {
  background-image: linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -o-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -moz-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -webkit-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -ms-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, #b73400), color-stop(0.63, #e34000), color-stop(0.92, #ef4400));
}
.red-gradient-hover {
  background-image: linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -o-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -moz-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -webkit-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -ms-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #c53800), color-stop(0.55, #df4f17), color-stop(0.87, #ff6d33));
}
@font-face {
  font-family: 'WebSymbolsLigaRegular';
  src: url('http://stahanov-staff.ru/css/../fonts/websymbolsligaregular.eot');
  src: url('http://stahanov-staff.ru/css/../fonts/websymbolsligaregular.eot?#iefix') format('embedded-opentype'), url('http://stahanov-staff.ru/css/../fonts/websymbolsligaregular.woff') format('woff'), url('http://stahanov-staff.ru/css/../fonts/websymbolsligaregular.ttf') format('truetype'), url('http://stahanov-staff.ru/css/../fonts/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}
.btn-group {
  display: inline-block;
  vertical-align: middle;
}
.btn-group.btn-switch .btn {
  border: 1px dashed #b7b7b7;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  float: left;
}
.btn-group.btn-switch .active {
  background: #6aaddc;
  color: #000;
  text-decoration: none;
  cursor: default;
  border: 1px solid #6aaddc;
  box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
  -moz-box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
  -webkit-box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
  -o-box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
}
.btn-group.btn-switch .active:after {
  content: "";
  width: 11px;
  height: 33px;
  position: absolute;
  top: 4px;
  left: -10px;
  background: url("http://stahanov-staff.ru/css/../img/active-tab.png");
}
.btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 18px;
  cursor: pointer;
}
.btn.btn-link {
  padding: 0px;
  margin: 0px 4px;
  font-size: 16px;
  font-weight: bold;
}
.btn-lg {
  font-size: 17px;
  font-weight: bold;
}
.btn-lg i {
  font-weight: 100;
}
.btn-gra {
  border: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
  color: white;
  transition: box-shadow 0.2s ease-in-out;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
}
.btn-gra:hover {
  box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
  color: #fff;
}
.btn-red {
  border: none;
  background-image: linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -o-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -moz-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -webkit-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -ms-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, #b73400), color-stop(0.63, #e34000), color-stop(0.92, #ef4400));
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
  color: white;
  transition: box-shadow 0.2s ease-in-out;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
}
.btn-red:hover {
  box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
  color: #fff;
  background-image: linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -o-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -moz-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -webkit-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -ms-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #c53800), color-stop(0.55, #df4f17), color-stop(0.87, #ff6d33));
}
.label {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  padding: 0px 8px;
  background: #ef4300;
  color: #ffffff;
  font-size: 13px;
  border: 1px solid #ff7843;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(1, 2, 2, 0.3);
  -moz-box-shadow: 1px 1px 5px rgba(1, 2, 2, 0.3);
  -webkit-box-shadow: 1px 1px 5px rgba(1, 2, 2, 0.3);
  -o-box-shadow: 1px 1px 5px rgba(1, 2, 2, 0.3);
}
.label i {
  color: #fac7b3;
}
.label.label-force {
  color: #ffffff !important;
  border: 1px solid #ff7843 !important;
  font-size: 13px !important;
  padding: 0px 8px !important;
  line-height: 1.5 !important;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
}
.pills-nav ul {
  margin: 0;
  padding: 0;
}
.pills-nav ul li {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2px 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
}
.pills-nav ul li a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed rgba(9, 114, 220, 0.3);
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
.pills-nav ul li a:hover {
  color: #dd4a49;
  border-bottom: 1px dashed rgba(239, 67, 0, 0.3);
}
.pills-nav ul li.active {
  background: #003f6b;
  box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
  -moz-box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
  -webkit-box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
  -o-box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
}
.pills-nav ul li.active a {
  border: 0;
  cursor: default;
}
.pills-nav ul li.active a:hover {
  color: #fff;
}
.pills-nav2 ul {
  margin: 0;
  padding: 0;
}
.pills-nav2 ul li {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2px 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
}
.pills-nav2 ul li a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed rgba(9, 114, 220, 0.3);
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
.pills-nav2 ul li a:hover {
  color: #dd4a49;
  border-bottom: 1px dashed rgba(239, 67, 0, 0.3);
}
.pills-nav2 ul li.active {
  background: #003f6b;
  box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
  -moz-box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
  -webkit-box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
  -o-box-shadow: inset 0px 0px 2px rgba(1, 2, 2, 0.3);
}
.pills-nav2 ul li.active a {
  border: 0;
  cursor: default;
}
.pills-nav2 ul li.active a:hover {
  color: #fff;
}
body {
  font-family: 'PT Sans';
  min-width: 960px;
}
body.personal {
  background: #ececec;
}
body.zakaz {
  background: #ececec;
}
a {
  color: #0972dc;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
a:hover {
  color: #dd4a49;
}
i {
  font-family: 'WebSymbolsLigaRegular';
  font-style: normal !important;
}
.personal .brand-bg {
  background: #014676;
  position: relative;
  box-sizing: border-box;
  padding: 1px 0px;
}
.zakaz .brand-bg {
  background: #eace31;
  position: relative;
  box-sizing: border-box;
  padding: 1px 0px;
}
.zakaz.zakaz-bg {
  background: #eace31;
}
.zakaz .btn-switch .btn {
  border-left: none;
}
.zakaz .btn-switch .btn.active {
  background: #eace31;
  border: 1px solid #cab22a;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
  margin-right: -1px;
  color: #fff;
}
.zakaz .btn-switch .btn.active:after {
  content: "";
  width: 12px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 100%;
  background: url("http://stahanov-staff.ru/css/../img/active-tab-zakaz.png") no-repeat;
  margin-top: -5px;
  margin-left: -3px;
}
header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: middle;
  height: 87px;
  background: #fff;
  margin: 15px auto;
  box-shadow: 7px 7px 24px rgba(1, 2, 2, 0.3);
  -moz-box-shadow: 7px 7px 24px rgba(1, 2, 2, 0.3);
  -webkit-box-shadow: 7px 7px 24px rgba(1, 2, 2, 0.3);
  -o-box-shadow: 7px 7px 24px rgba(1, 2, 2, 0.3);
  padding: 23px 20px;
  min-width: 960px;
  max-width: 1300px;
  margin-left: 20px;
  margin-right: 20px;
}
header .logo {
  display: inline-block;
  background: url("http://stahanov-staff.ru/css/../img/logo.png");
  width: 197px;
  height: 40px;
  vertical-align: middle;
}
header .btn-switch {
  margin-left: 33px;
}
header .nav {
  text-align: center;
}
header .right {
  display: inline-block;
  margin-top: -7px;
}
header .right p {
  vertical-align: middle;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #171717;
}
header a {
  color: #0972dc;
}
.top-menu {
  margin: 0 auto;
  position: relative;
  min-width: 960px;
  max-width: 1300px;
  margin-left: 20px;
  margin-right: 20px;
}
.top-menu nav {
  margin: 40px 12px;
}
.top-menu nav ul {
  padding: 0;
  margin: 0;
}
.top-menu nav ul li {
  display: inline-block;
  margin-left: 12px;
}
.top-menu nav ul li a {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  float: left;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 1.1;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
.top-menu nav ul li a:hover {
  color: #dd4a49;
  border-bottom: 1px solid rgba(239, 67, 0, 0.3);
}
.top-menu nav ul li .label {
  float: left;
  margin-left: -3px;
  margin-top: -5px;
}
.top-menu nav ul li.active a {
  color: #ef4300;
}
.top-menu .btn-zakaz {
  position: absolute;
  top: -5px;
  right: 24px;
  box-shadow: none;
}
.main-jobs {
  margin: 0 auto;
  min-width: 960px;
  max-width: 1300px;
  margin-left: 20px;
  margin-right: 20px;
}
.main-jobs .pills-nav {
  margin: 24px 20px;
}
.job-items article {
  width: 35%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  background: url("http://stahanov-staff.ru/css/../img/job-bg.png") no-repeat bottom center;
  background-size: cover;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 25px;
  vertical-align: top;
  position: relative;
}
.job-items article h3 {
  color: white;
  margin: 0;
  margin-bottom: 5px;
}
.job-items article h3 a {
  color: white;
  display: inline;
  font-size: 24px;
  line-height: 1.3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  position: relative;
}
.job-items article h3 a:hover {
  color: #dd4a49;
  border-bottom: 1px solid rgba(239, 67, 0, 0.3);
}
.job-items article h3 a i {
  margin-top: -5px;
  margin-left: 3px;
  font-size: 18px;
  position: absolute;
}
.job-items article .top-line {
  height: 1px;
  background: url("http://stahanov-staff.ru/css/../img/job-bg-top.png") repeat-x 15px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 14px;
}
.job-items article time {
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
.job-items article span {
  display: block;
  color: #bebebe;
  font-size: 14px;
}
.job-items article span a {
  color: #bebebe;
}
.job-items article p {
  color: #bebebe;
  font-size: 14px;
  margin-top: 5px;
}
.job-items article.info {
  width: 25%;
  text-align: center;
  padding: 0;
  background: none;
  padding-top: 40px;
}
.job-items article.info .top-line {
  display: none;
}
.job-items article.info p {
  font-size: 14px;
  font-style: italic;
  color: #2082c5;
  width: 240px;
  margin: 15px auto;
}
.job-items article.info .btn {
  text-decoration: none;
}
.job-items article.info-txt {
  padding-top: 15px;
}
.job-items article.info-txt p {
  font-size: 16px;
  margin: 5px auto;
}
.job-items article.info-txt p a {
  color: #2082c5;
}
.white-block {
  background: #ececec;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 40px 0px;
}
.white-block .top-line {
  display: none;
}
.white-block .wrp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding-bottom: 40px;
  min-width: 960px;
  max-width: 1300px;
  margin-left: 20px;
  margin-right: 20px;
}
.white-block .benefits {
  width: 49%;
}
.white-block .benefits h2 {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 5px;
}
.white-block .benefits p {
  font-size: 18px;
  color: #343434;
}
.white-block .pills-nav {
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.white-block .pills-nav a {
  color: #0972dc;
}
.white-block .job-items article {
  width: 49%;
  background: none;
  padding-top: 12px;
  margin-bottom: 0px;
}
.white-block .job-items article h3 {
  color: #0972dc;
  border-color: #9cc1e6;
  font-size: 30px;
  border-bottom: 1px solid #9cc1e6;
  display: inline;
}
.white-block .job-items article a {
  display: block;
  width: 97%;
  height: 90%;
  z-index: 5;
  position: absolute;
  left: 10px;
  top: 0;
}
.white-block .job-items article time {
  color: #ec4403;
}
.white-block .job-items article span {
  color: #424242;
}
.white-block .job-items article span a {
  color: #424242;
}
.white-block .job-items article p {
  color: #424242;
  height: 37px;
  overflow: hidden;
}
.white-block .job-items article:before {
  content: "";
  width: 90%;
  height: 25px;
  background: url("http://stahanov-staff.ru/css/../img/sh-g.png") repeat-x top center;
  position: absolute;
  bottom: 32px;
  left: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.white-block .job-items article:after {
  background: none;
}
.white-block .job-items article:hover {
  background: url("http://stahanov-staff.ru/css/../img/job-w-bg.png") repeat-y bottom center;
  background-size: cover;
  position: relative;
}
.white-block .job-items article:hover:after {
  content: "";
  width: 97%;
  height: 1px;
  background: url("http://stahanov-staff.ru/css/../img/job-w-bg-top.png") repeat-x top center;
  position: absolute;
  top: 0px;
  left: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-right: 20px;
}
.white-block .job-items article:hover:before {
  background: url("http://stahanov-staff.ru/css/../img/sh-w.png") repeat-x top center;
}
.white-block .job-items.akcii article p {
  margin-top: 20px;
}
.white-block .job-items.news article p {
  margin-top: 20px;
}
.white-block .job-items.news article time {
  margin: 0;
  font-size: 14px;
  color: #464646;
  font-weight: 100;
}
.white-block.news h2 {
  color: #3d3d3d;
  font-size: 30px;
}
.white-block.news h2 span,
.white-block.news h2 time,
.white-block.news h2 a {
  display: inline-block;
  vertical-align: middle;
}
.white-block.news h2 a,
.white-block.news h2 time {
  font-size: 14px;
  margin-right: 12px;
  font-weight: 100;
}
.white-block.news h3 {
  color: #424242;
  font-size: 18px;
}
.white-block.news p {
  color: #424242;
  font-size: 18px;
  margin-top: 30px;
}
footer {
  font-size: 14px;
  color: #404040;
  width: 141px;
  height: 34px;
  background: url("http://stahanov-staff.ru/css/../img/copy.png") no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 18px;
  padding-top: 7px;
}
.zakaz footer {
  background: url("http://stahanov-staff.ru/css/../img/copy-w.png") no-repeat;
}
.modal-blackout {
  background: #606060;
  opacity: 0.7;
  position: fixed;
  z-index: 8;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
.modal {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
  width: 590px;
  border: 1px dashed #0360a0;
  padding: 24px;
  overflow: hidden;
  display: none;
  background: #fff;
}
.modal h3 {
  font-size: 30px;
  color: #4f4f4f;
  margin-top: 0;
  margin-bottom: 40px;
}
.modal.anketa {
  background: #fdf0d0;
}
.modal.anketa label.error {
  background: #fdf0d0;
}
.modal.personal {
  width: 660px;
  background: #fdf0d0;
}
.modal.personal label.error {
  background: #fdf0d0;
}
.modal.personal .col {
  margin-right: 8px;
  width: 190px;
}
.modal.personal .phone-field em {
  margin-left: 0px;
}
.modal.personal .phone-field label {
  margin-left: 25px;
}
.modal.personal .btn {
  margin-top: 40px;
}
.modal.anketa-otklik {
  background: #fff;
  width: 660px;
  padding-bottom: 0px;
}
.modal.anketa-otklik h3 {
  margin: 0px;
}
.modal.anketa-otklik h4 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #ef4e0f;
}
.modal.anketa-otklik p {
  margin: 5px 0px;
  font-size: 14px;
  color: #424242;
}
.modal.anketa-otklik form {
  background: #fdf0d0;
  margin-left: -24px;
  margin-top: 24px;
  width: 120%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 24px;
  padding-bottom: 0px;
}
.modal.anketa-otklik form .col {
  margin-right: 8px;
}
.modal.anketa-otklik form .inline-cols {
  margin-bottom: 15px;
}
.modal.anketa-descr {
  width: 830px;
  background: #fdf0d0;
}
.modal.anketa-descr .btn {
  text-decoration: none;
  margin-top: 5px;
}
.modal .dialog-custombg {
  margin-left: -24px;
  width: 120%;
  padding: 24px;
  margin-top: 24px;
}
.modal .dialog-custombg.whitebg {
  background: #fff;
}
.modal .dialog-custombg p.plain-text {
  width: 80%;
}
.modal .dia-col {
  display: inline-block;
  width: 360px;
  margin-right: 20px;
  vertical-align: top;
}
.modal .dia-col .dia-item {
  font-size: 14px;
  color: #424242;
  margin-bottom: 30px;
}
.modal .dia-col .dia-item h4 {
  color: #424242;
  font-size: 14px;
  margin: 0px;
}
.modal .dia-col .dia-item ul {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 11px;
}
.modal .dia-col .dia-item ul li {
  position: relative;
  margin-bottom: 5px;
}
.modal .dia-col .dia-item ul li:before {
  content: "-";
  display: block;
  position: absolute;
  left: -10px;
  top: 0px;
}
.modal.sent {
  background: #fdf0d0;
}
.modal.sent h2 {
  font-size: 30px;
  color: #4f4f4f;
  width: 380px;
  margin: 40px auto;
  text-align: center;
}
.modal .btn-red {
  margin: 20px 0px;
}
.modal .closeb {
  font-family: 'WebSymbolsLigaRegular';
  font-style: normal !important;
  text-decoration: none;
  font-size: 32px;
  color: #ef4300;
  position: absolute;
  right: 12px;
  top: 8px;
}
.modal .closeb:hover {
  color: #333;
}
hr {
  border: none;
  border-bottom: 1px dashed #b7b7b7;
  width: 120%;
  margin-left: -24px;
}
.form-group .col {
  width: 205px;
  display: inline-block;
  position: relative;
  margin-right: 28px;
}
.form-group .col.col-w3 {
  margin-right: 48px !important;
}
.form-group em {
  font-style: normal;
  color: #5a5a5a;
  font-size: 14px;
}
.form-group input[type=text],
.form-group input[type=email],
.form-group textarea {
  font-size: 18px;
  color: #6b6b6b;
  border: none;
  box-shadow: inset 2px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 2px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 2px 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 2px 1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px 5px;
  width: 100%;
  position: relative;
  z-index: 3;
}
.form-group input[type=text].error,
.form-group input[type=email].error,
.form-group textarea.error {
  border: 1px solid #fe3535;
}
.form-group .radio {
  font-size: 14px;
  color: #0972dc;
  font-weight: bold;
  margin-right: 10px;
}
.form-group .checkbox {
  font-size: 14px;
  color: #5a5a5a;
}
.form-group.vertical label {
  display: block;
  color: #6b6b6b;
  font-size: 14px;
  font-style: italic;
}
.form-group .del-field {
  color: #e04103;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
}
.form-group p {
  position: relative;
}
.form-group label.error {
  position: absolute;
  left: 0;
  top: 0;
  color: #fe3535;
  z-index: 2;
}
.form-group .phone-field em {
  margin-left: 31px;
}
.form-group .phone-field input#code {
  width: 48px;
  margin-left: 10px;
  margin-right: 10px;
}
.form-group .phone-field input#phone {
  width: 90px;
}
.form-group .phone-field label {
  margin-left: 55px;
}
.form-group.inline-cols .col {
  display: inline-block;
  width: auto;
}
.add-field {
  color: #1164df;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
}
#fileElem {
  visibility: hidden;
  width: 0;
  height: 0;
}
#fileSelect {
  width: 224px;
  height: 22px;
  display: block;
  background: url('http://stahanov-staff.ru/css/../img/uploader.png');
  border: 0px;
}
.dummy {
  width: 1px;
  text-indent: 999px;
  overflow: hidden;
}
.zakaz .top-menu nav a {
  color: #000;
  border-color: #818181;
}
.zakaz .main-info {
  margin: 0 auto;
  position: relative;
  min-width: 960px;
  max-width: 1300px;
  margin-left: 20px;
  margin-right: 20px;
}
.zakaz .about-tabs {
  width: 60%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 0px 24px rgba(32, 107, 193, 0.5);
  -moz-box-shadow: 0px 0px 24px rgba(32, 107, 193, 0.5);
  -webkit-box-shadow: 0px 0px 24px rgba(32, 107, 193, 0.5);
  -o-box-shadow: 0px 0px 24px rgba(32, 107, 193, 0.5);
  display: block;
  padding-left: 24px;
  padding-right: 110px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 0px;
  margin-top: 100px;
  margin-bottom: 20px;
  position: relative;
  overflow: visible;
}
.zakaz .about-tabs div.tab-p,
.zakaz .about-tabs div p {
  font-size: 18px;
  color: #050505;
  margin: 20px 0px;
}
.zakaz .tab-nav {
  position: absolute;
  top: -54px;
  left: 0px;
  z-index: 2;
}
.zakaz .tab-nav ul {
  margin: 0;
  padding: 0;
}
.zakaz .tab-nav ul li {
  display: inline-block;
  padding: 13px 20px;
}
.zakaz .tab-nav ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.zakaz .tab-nav ul li.active {
  background: #fff;
}
.zakaz .tab-nav ul li.active a {
  text-decoration: none;
  color: #ef4300;
}
.zakaz .pills-nav2 {
  margin-left: -6px;
}
.zakaz .pills-nav2 li a {
  color: #0972dc;
  font-size: 18px;
  font-weight: bold;
}
.zakaz .pills-nav2 li.active {
  background: #504d3e;
}
.zakaz .pills-nav2 li.active a {
  color: #e64203;
}
.zakaz .pills-nav2 li.active a:hover {
  color: #e64203;
}
.zakaz .uslugi {
  width: 85%;
}
.zakaz .uslugi .usl-head {
  margin-bottom: 0px;
}
.zakaz .uslugi .usl-head p,
.zakaz .uslugi .usl-head nav {
  display: inline-block;
  vertical-align: middle;
}
.zakaz .uslugi .usl-head p {
  font-size: 14px;
  color: #353535;
  font-style: italic;
  margin-right: 10px;
}
.zakaz .uslugi .usl-head a {
  border-bottom: 1px solid rgba(9, 114, 220, 0.3);
}
.zakaz .uslugi .usl-head a:hover {
  border-bottom: 1px solid rgba(239, 67, 0, 0.3);
}
.zakaz .uslugi .usl-head .active a {
  border: none;
}
.zakaz .uslugi h3 {
  font-size: 30px;
  font-weight: 100;
  color: #404040;
  margin: 0px 0px;
}
.zakaz .uslugi p {
  color: #404040;
  font-size: 16px;
  line-height: 1.3;
}
.ab-company-img {
  position: absolute;
  z-index: 7;
  background: url("http://stahanov-staff.ru/css/../img/team-1.png") no-repeat;
  width: 583px;
  height: 689px;
  left: 85%;
  top: -120px;
}
.stroy-img {
  position: absolute;
  z-index: 7;
  background: url("http://stahanov-staff.ru/css/../img/team-2.png") no-repeat;
  width: 73%;
  height: 778px;
  left: 95%;
  top: -180px;
}
.hide {
  display: none;
}
.req {
  width: 285px;
  background: #fff;
  position: absolute;
  right: -200px;
  top: 65%;
  margin-top: -100px;
  z-index: 8;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 30px 0px;
  box-shadow: 0px 0px 46px rgba(124, 85, 0, 0.8);
  -moz-box-shadow: 0px 0px 46px rgba(124, 85, 0, 0.8);
  -webkit-box-shadow: 0px 0px 46px rgba(124, 85, 0, 0.8);
  -o-box-shadow: 0px 0px 46px rgba(124, 85, 0, 0.8);
  text-align: center;
}
.req a {
  text-decoration: none;
}
.req p {
  font-size: 14px !important;
  color: #de4002 !important;
  font-style: italic;
  margin-bottom: 0px;
}
.c-row .c-col {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding-right: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.c-row .c-col p {
  font-size: 16px;
  color: #404040;
  margin-top: 5px;
}
.c-row .c-col h4 {
  margin-bottom: 0px;
  margin-top: 10px;
}
.c-row.head-row .c-col {
  margin-bottom: 30px;
}
.c-row.head-row .c-col h1 {
  margin: 0;
  font-size: 48px;
  color: #3c3c3c;
}
.c-row.head-row .c-col p {
  font-size: 18px;
  color: #b73400;
}
.client-nav {
  font-size: 48px;
  color: #3c3c3c;
  margin-top: 0;
}
.client-nav span {
  font-family: Arial;
}
.client-nav nav {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}
.client-nav nav a {
  margin-left: 15px;
}
.client-nav nav a.active {
  color: #df460a;
  text-decoration: none;
}
.client-items article {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  width: 49%;
  font-size: 14px;
  color: #3c3c3c;
  padding-right: 70px;
  margin-bottom: 40px;
  vertical-align: top;
}
.client-items article div img,
.client-items article div p {
  display: inline-block;
  vertical-align: middle;
}
.client-items article div img {
  margin-right: 20px;
  width: 140px;
}
.client-items article div p {
  line-height: 1.5;
}
.client-items article em {
  display: block;
  border: 1px dashed #0360a0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 12px;
  position: relative;
  margin-top: 20px;
  margin-left: -16px;
}
.client-items article em:after {
  content: "";
  position: absolute;
  left: 16px;
  top: -15px;
  width: 13px;
  height: 15px;
  background: url("http://stahanov-staff.ru/css/../img/otzyv_after.png") no-repeat;
}
.c-wrp {
  min-width: 960px;
  max-width: 1300px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  position: absolute;
  overflow: visible;
  z-index: 8;
  left: 1%;
  top: 250px;
  margin: 0px !important;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.contact-balloon {
  padding: 40px 20px;
  padding-top: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 550px;
  background: #fff;
  box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.5);
}
.contact-balloon h1 {
  font-size: 60px;
  color: #585858;
  margin: 0px;
}
.contact-balloon p {
  font-size: 18px;
  margin: 0;
}
#c_name {
  width: 392px;
}
.doc {
  font-size: 18px;
}
@media only screen and (min-width: 1300px) {
  header,
  section {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 1300px;
  }
  .c-wrp {
    left: 10%;
  }
  .label-force {
    width: auto !important;
  }
}
.job-items article span .firm {
  position: relative;
  display: inline;
  left: 0;
  padding-right: 5px;
}
.color_d55a43 {
  color: #d55a43;
}
.color_80a8d9 {
  color: #80a8d9;
}
.color_ddc950 {
  color: #ddc950;
}
.color_014676 {
  color: #014676;
}
.color_ffffff {
  color: #ffffff;
}
.stroy-img {
  z-index: 1;
}
.top-menu {
  z-index: 2;
}
