body, .zakaz.zakaz-bg{
   background: #f6f6ea !important;
}

a{
   outline: none;
}

.zakaz .brand-bg{
   background: #f6f6ea !important;
}

.new-logo{
   background: url('../newimg/logo.png') no-repeat;
   width: 241px;
   height: 48px;
   cursor: pointer;
   display: inline-block;
}

.pad40{
   padding: 0 40px;
}

.new-head{
   padding: 26px 0;
   height: 52px;
   background: #f6f6ea;
   z-index: 3;
   position: relative;
}

.new-top-menu{
   float: right;
   height: 52px;
   line-height: 52px;
   font-size: 16px;
   font-family: Tahoma;
   color: #000000;
   text-align: right;
}

.new-top-menu a{
   margin-left: 28px;
   color: #000000;
}

.new-top-menu a.active{
   color: #eb5014;
   text-decoration: none;
}

.new-top-menu a:hover{
   color: #0972dc;
}

.s-menu{
   height: 100px;
   border-bottom: 1px #ffffff solid;
   box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
   position: relative;
   z-index: 2;
}

.button{
   padding: 0 25px;
   height: 50px;
   display: inline-block;
   line-height: 50px;
   font-size: 16px;
   font-family: Tahoma;
   font-weight: bold;
   outline: none;
}

.button.zak{
   background: #eace31;
}

.button.pers{
   background: #0972dc;
}

.button a{
   color: #ffffff;
}

.button.pers a:hover{
   color: #eace31;
}

.button.zak a:hover{
   color: #0972dc;
}

.submenu{
   background: #eace31;
   height: 50px;
   line-height: 50px;
   font-size: 16px;
}

.personal .submenu{
   background: #0972dc;
}

.submenu a{
   margin-left: 25px;
   color: #000000;
}

.submenu a.active{
   color: #ffffff;
   text-decoration: none;
}

.personal .submenu a{
   color: #ffffff;
}

.submenu a:hover{
   color: #0972dc;
}

.personal .submenu a:hover{
   color: #eace31;
}

.personal .submenu a.active{
   color: #eace31;
   text-decoration: none;
}

.counter{
   background-image: linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -o-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -moz-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -webkit-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -ms-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, #b73400), color-stop(0.63, #e34000), color-stop(0.92, #ef4400));

   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   height: 21px;

   box-shadow:  0px 0px 3px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:  0px 0px 3px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow:  0px 0px 3px rgba(0, 0, 0, 0.3);
   -o-box-shadow:  0px 0px 3px rgba(0, 0, 0, 0.3);

   color: #ffffff;

   display: inline-block;
   line-height: 21px;
   padding: 0 4px;
}

.right-area{
   float: right;
   height: 50px;
   text-align: right;
}

.click-but{
   border: none;
   background-image: linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -o-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -moz-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -webkit-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -ms-linear-gradient(bottom, #b73400 22%, #e34000 63%, #ef4400 92%);
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, #b73400), color-stop(0.63, #e34000), color-stop(0.92, #ef4400));

   box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
   -moz-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
   -webkit-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
   -o-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.3);
   color: white;
   transition: box-shadow 0.2s ease-in-out;
   -webkit-transition: box-shadow 0.2s ease-in-out;
   -moz-transition: box-shadow 0.2s ease-in-out;
   -o-transition: box-shadow 0.2s ease-in-out;
   cursor: pointer;
   border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   -o-border-radius: 6px;
   height: 32px;
   padding: 0 10px;
   line-height: 32px;
   font-size: 12px;
   font-weight: bold;
   display: inline-block;
   margin-left: 25px;
}

.click-but:hover{
   box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
   -moz-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
   -webkit-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
   -o-box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.3), 0px 0px 24px 8px rgba(255, 255, 255, 0.5);
   color: #fff;
   background-image: linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
   background-image: -o-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
   background-image: -moz-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
   background-image: -webkit-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
   background-image: -ms-linear-gradient(bottom, #c53800 30%, #df4f17 55%, #ff6d33 87%);
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #c53800), color-stop(0.55, #df4f17), color-stop(0.87, #ff6d33));
}

.click-but a{
   color: #ffffff;
   text-decoration: none;
}


.big-phone{
   display: inline-block;
   font-size: 28px;
   color: #000000;
   vertical-align: top;
   line-height: 32px;
   font-family: Tahoma;
}

.new-switch{
   display: inline-block;
}

.new-switch .zak a{
   color: #222;
}

.content-block{
   background: #e6e5d1;
}

.yellow-title{
   height: 60px;
   background: #eace31;
   font-family: Tahoma;
   font-weight: bold;
   font-size: 24px;
   color: #000000;
   line-height: 60px;
}

.ico{
   background: #eace31;
   border: 4px solid #ffffff;
   width: 110px;
   height: 110px;
   display: inline-block;
   border-radius: 55px;
   -webkit-border-radius: 55px;
   -moz-border-radius: 55px;
   margin-top: -25px;
   margin-bottom: -25px;
   text-align: center;
   vertical-align: middle;
   line-height: 110px;
}

.ico img{
   vertical-align: middle;
}

.text-in-title{
   display: inline-block;
}

.padtop60{
   padding-top: 60px;
   padding-bottom: 60px;
}

.man-bg{
   position: relative;
   padding-left: 245px;
   min-height: 359px;
   color: #3c3c3b;
   overflow: hidden;
}

.man-bg:after{
   content: " ";
   bottom: -8px;
   left: 5%;
   z-index: 6;
   box-shadow: 0 0 12px 3px;
   border-radius: 100%;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   width: 90%;
   height: 8px;
   position: absolute;

}

.t3{
   background: url('../newimg/t3.png') no-repeat;
   width: 554px;
   height: 6px;
   margin-top: -6px;
   position: absolute;
   left: 50%;
   margin-left: -277px;
   top: 0;
}


.t2{
   background: url('../newimg/t2.png') no-repeat;
   width: 554px;
   height: 6px;
   position: absolute;
   left: 50%;
   margin-left: -277px;
   bottom: -6px;
}

.pict{
   background: url('../newimg/man.png') no-repeat;
   width: 245px;
   height: 359px;
   z-index: 4;
   position: absolute;
   left: 0;
   bottom: 0;
}

.important-in-man{
   text-align: center;
   padding: 15px 0;
   font-size: 16px;
   position: relative;
   margin-left: -245px;
   background: #ffffff;
   z-index: 2;
   margin-bottom: 40px;
}


.all-preim{
   text-align: center;
}

.one-preim{
   width: 33%;
   padding: 0 40px;
   text-align: left;
   font-size: 16px;
   font-family: Tahoma;
   box-sizing: border-box;
   vertical-align: top;
   display: inline-block;
   margin-bottom: 30px;
}

.number-p{
   color: #eace31;
   font-size: 130px;
   float: left;
   line-height: 97px;
   vertical-align: top;
   margin-right: 5px;
}

.important-in-man span{
   color: #eb5014;
   font-size: 24px;
}

.inner-content .man-bg p{
   color: #3c3c3b;
}

.pad25{
   padding: 0 25px;
}

.pre-text{
   font-size: 22px;
   line-height: 24px;
   color: #000000;
   text-align: center;
   padding: 10px 0;
   font-family: Tahoma;
}

.pad14{
   padding: 0 14px;
}

.top-line > table{
   width: 100%;
   padding: 0;
   border-spacing: 0;
   line-height: 0;
}

.top-line > table td{
   padding: 0;
   border-spacing: 0;
}

.center-in-line{
   background: #e6e5d1;
}

.left-in-line{
   width: 26px;

}

.center-line{
   background: #eace31;
   padding-bottom: 10px;
}

.one-element{
   display: inline-block;
   font-size: 18px;
   font-family: Tahoma;
   color: #0972dc;
   font-weight: bold;
   text-transform: uppercase;

   line-height: 18px;
   vertical-align: top;
   margin: 0 20px;
   cursor: pointer;
}

.one-element a{
   color: #0972dc;


}

.one-element a:hover{
   color: #eb5014;
}

.switch-in-banner{
   text-align: center;
}

.one-element .top-line{
   display: none;

}

.one-element.active .top-line{
   display: block;
}

.one-element.active{

}

.yellow{
   padding: 16px 20px 0;
   height: 64px;
}

.one-element.active .yellow{
   background: #f8e83d;
}

.one-element.active a{
   color: #eb5014;
   text-decoration: none;
}

.img-in-center{
   float: right;
   text-align: center;
   width: 50%;
}

.text-in-center-banner{
   width: 50%;
   float: left;
   padding-left: 50px;
   box-sizing: border-box;
   font-size: 16px;
   line-height: normal;
   font-family: Tahoma;
}

.title-in-center{
   font-family: Tahoma;
   font-size: 42px;
   line-height: 52px;
   color: #eace31;
   display: inline-block;
   font-weight: bold;
   vertical-align: middle;
}

.title-in-center span{

   padding: 0 10px;
   background: #0972dc;
}

.clear{
   clear: both;
}

.tab{
   display: none;
}

.tab.active{
   display: block;
}

.zay-pl{
   position: absolute;
   left: 53%;
   z-index: 3;
   padding: 13px 15px 20px;
   background: #ffffff;
   font-family: Tahoma;
   font-size: 22px;
   color: #383838;
   width: 230px;
   text-align: center;
   line-height: 24px;
   margin-top: 230px;
}

h2{
   line-height: 50px;
   font-size: 30px;
   color: #383838;
   font-family: Tahoma;
   margin: 0;
}

.content-block{
   font-family: Tahoma;
   font-size: 16px;
   color: #383838;
   line-height: normal;
}

.left-col{
   width: 50%;
   float: left;
   margin-bottom: 30px;
}

.right-col{
   width: 50%;
   float: right;
   padding-left: 40px;
   box-sizing: border-box;
   margin-bottom: 30px;
}

.yellow-line{
   height: 10px;
   margin-bottom: 20px;
   background: #eace31;
}

.content-block b{
   color: #000000;
}

.our-clients{
   background: url('../newimg/client-bg.png');
   width: 860px;
   height: 157px;
   margin: 10px auto 30px;
   text-align: center;
}

.light-title{
   font-size: 18px;

}

.one-client{
   display: inline-block;
   padding-top: 34px;
   margin: 0 14px;
   font-size: 11px;
   color: #565656;
   text-align: left;
}

.one-client a{
   color: #000000;
   font-size: 14px;
}

.one-client a:hover{
   color: #0972dc;
}

.one-client img{
   margin-bottom: 10px;
}

.tabs2{
   color: #0972dc;
   font-size: 18px;
   text-transform: uppercase;
   line-height: 44px;
   display: inline-block;
   margin-right: 18px;
   cursor: pointer;
   text-decoration: underline;
   font-weight: bold;
}

.tabs2.active{
   text-decoration: none;
   color: #e44e13;
}

.tabs2:hover{
   color: #e44e13;
}

.tab-type2{
   border: 2px solid #ffffff;
   display: none;
}

.tab-type2.active{
   display: block;
}

.tab-type2 ul{
   padding: 0;
   list-style: none;
}

.tab-type2 li{
   padding-left: 16px;
}

.tab-type2 li:before{
   content:  " ";
   width: 10px;
   height: 10px;
   position: absolute;
   background: #eace31;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   margin-left: -16px;
   margin-top: 5px;
}

.big-btn-container{
   padding: 87px 0 30px 0;
   text-align: center;
}

.big-btn-container .click-but{
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -o-border-radius: 10px;
   height: 55px;
   padding: 0 85px;
   line-height: 55px;
   font-size: 24px;
   margin: 0;
}

.big-btn-container .click-but:before{
   content: " ";
   background: url('../newimg/big-btn.png') no-repeat;
   width: 103px;
   height: 49px;
   position: absolute;
   margin-top: -49px;
   left: 50%;
   margin-left: -51px;
}

.big-btn-container.resume .click-but:before{
   background: url('../newimg/big-ico-resume.png') no-repeat;
   width: 119px;
   height: 56px;
   margin-top: -56px;
   margin-left: -60px;
}

.foot{
   background: #eace31;
   padding: 20px 0;

   font-family: Tahoma;
}

.personal .foot{
   background: #0972dc;
}

.foot a > img{
   margin-right: 8px;
   border: none;
   vertical-align: top;
}

.foot a{
   outline: none;
}

.personal .foot a{
   color: #eace31;
}

.personal .foot a:hover{
   color: #eb5014;
}

.loz{
   display: inline-block;
   color: #ffffff;
   font-size: 14px;
   line-height: normal;
   padding-top: 3px;
}

.to-map-site{
   float: right;

   line-height: 34px;
   font-size: 14px;
   margin-right: 20px;
}

.made-by{
   float: right;
   background: url('../newimg/copy-w.png') no-repeat;
   width: 141px;
   height: 34px;
   font-size: 14px;
   color: #404040;
   line-height: 34px;
   text-align: center;
}

.inner-content{
   background: #ececec;
   padding-bottom: 20px;
}

.inner-content h1{
   font-family: Tahoma;
   color: #393939;
   font-size: 36px;
   padding-top: 25px;
   line-height: 38px;
   margin: 0 0 25px;
}

.map{
   height: 480px;
   border-top: 5px solid #eace31;
}

.personal .map{
   border-top: 5px solid #0972dc;
}

.table-contact{
   width: 100%;
   margin-bottom: 35px;
}

.table-contact td{
   vertical-align: top;
}

.combobox-city{
   width: 425px;
}

.combobox{
   font-family: Tahoma;
   font-size: 18px;
   color: #0972dc;
   padding-left: 12px;
   border: 1px solid #a4a4a4;
   line-height: 41px;
   display: inline-block;
   position: relative;
   width: 320px;
   background: #ffffff;
   cursor: pointer;
}

.var{
   color: #0972dc;
   padding-left: 12px;
   line-height: 41px;
}

.combobox:after{
   width: 47px;
   height: 43px;
   position: absolute;
   top: -1px;
   right: -47px;
   content: " ";
   background: #0972dc url('../newimg/combo-ico.png') no-repeat scroll 50% 50%;
}

.combobox:hover:after {
   background: #e44e13 url('../newimg/combo-ico.png') no-repeat scroll 50% 50%;
}

.adr{
   font-family: Tahoma;
   font-size: 16px;
   color: #000000;
   padding-left: 40px;
   background: url('../newimg/met.png') no-repeat;
   width: 320px;
}

.adr span{
   font-size: 18px;
}

.grafic{
   color: #555454;
   font-family: Tahoma;
   font-size: 16px;
}

.variants{
   width: 378px;
   background: #ffffff;

   border: 1px solid #a4a4a4;
   position: absolute;
   top: -1px;
   left: -1px;
   z-index: 3;
   display: none;
}

.var a{
   text-decoration: none;
}

.var:hover{
   background: #ececec;
}

.fast-filters{
   background: #d4d4d4;
   padding-top: 20px;
   padding-bottom: 10px;
   font-family: Tahoma;
}

.one-ff{
   padding-bottom: 10px;
   line-height: 24px;

}

.one-ff span{
   font-size: 12px;
   text-transform: uppercase;
}

.button-in-ff{
   color: #0972dc;
   font-weight: bold;
   display: inline-block;
   font-size: 12px;
   margin-left: 3px;
   padding: 0 7px;
}

.button-in-ff.active{
   background: #0972dc;
   color: #ffffff;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.button-in-ff.active a{
   text-decoration: none;
   color: #ffffff;
}

.one-vak{
   width: 27%;
   margin-right: 6%;
   float: left;
   box-sizing: border-box;
   padding-left: 28px;
   background: url('../newimg/vak-ico.png') no-repeat scroll 0 30px;
   padding-top: 30px;
   font-family: Tahoma;
   padding-bottom: 15px;
   border: 2px dashed #ececec;
   cursor: pointer;
   position: relative;
   margin-bottom: 30px;
}

.one-vak:hover{
   border: 2px dashed #1d71ac;
   background: #ffffff;
}

.one-vak:hover:after{
   content: " ";
   background: url('../newimg/ug-vak.png') no-repeat;
   width: 24px;
   height: 26px;
   bottom: -2px;
   right: -2px;
   position: absolute;
}

.title-vak{

   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   position: relative;
}

.money-vak{
   color: #ec4403;
   font-size: 16px;
   line-height: 20px;
}

.one-vak.importance{
   background: url('../newimg/ico-important.png') no-repeat scroll 0 30px;
}

.one-vak.importance:hover{
   background: #ffffff;
}

.importance .title-vak a{
   color: #eb5014;
}

.office-vak{
   color: #5a5a5a;
   font-size: 12px;
   margin-top: 10px;
}

.text-vak{
   font-size: 14px;
   color: #3c3c3b;
   margin-top: 10px;
   height: 68px;
   overflow: hidden;
}

.title-vak a{
   position: relative;
}

.in-office .title-vak a:after{
   background: url('../newimg/office-label.png') no-repeat;
   width: 44px;
   height: 21px;
   position: absolute;
   right: 24px;
   top: -17px;
   content: " ";
}

.orange-line{
   background: #eb5014;
   height: 4px;
   margin-bottom: 30px;
}

.right-h1{
   font-family: Tahoma;
   color: #eb4100;
   font-size: 16px;
   margin-top: 30px;
   width: 530px;
   margin-bottom: 30px;
   float: right;
}

.answer{
   padding: 48px 25px 20px 25px;
   background: #ffffff url('../newimg/ans-ico.png') no-repeat scroll 25px 18px;
   color: #3c3c3b;
   font-size: 14px;
   position: relative;
   margin: 20px 0;
   border: 2px dashed #1d71ac;
   display: none;
}

.answer:after{
   content: " ";
   background: url('../newimg/ug-vak.png') no-repeat;
   width: 24px;
   height: 26px;
   bottom: -2px;
   right: -2px;
   position: absolute;
}

.questions-block{
   padding: 40px 0 80px;
}

.one-quest > span{
   font-size: 16px;
   text-decoration: underline;
   color: #0972dc;
   cursor: pointer;
}

.one-otz{
   width: 33%;
   display: inline-block;
   padding: 0 30px;
   box-sizing: border-box;
   text-align: left;
   position: relative;
}

.text-otz:after{
   position: absolute;
   content: " ";
   background: url('../newimg/ug.png') no-repeat;
   width: 34px;
   height: 18px;
   right: 20px;
   top: -18px;
}


.text-otz{
   background: #ffffff url('../newimg/ans-ico.png') no-repeat scroll 20px 5px;
   padding: 30px 20px 20px;
   position: relative;

}

.one-quest > span:hover{
   color: #eb5014;
}

.one-quest.active > span{
   color: #000000;
   text-decoration: none;
}

.one-quest.active .answer{
   display: block;
}

.left-img{
   float: left;
   margin-bottom: 20px;
   margin-right: 20px;
}

.inner-content p{
   padding-bottom: 20px;
   margin-top: 0;
   font-family: Tahoma;
   font-size: 16px;
   color: #000000;
   margin-bottom: 0;
}

.center-img{
   width: 100%;
   margin-bottom: 20px;
}

.way{
   font-size: 16px;
   padding-top: 30px;
}

.double-col{
   float: left;
   width: 50%;
   box-sizing: border-box;
   padding-right: 50px;
   font-family: Tahoma;
}

.fix-double-col .double-col{
   width: 480px;
}

.double-col.small-p{
   padding-right: 20px;
}

.double-col.fix-p{
   width: 180px;
}

.year{
   background: url('../newimg/year-bg.png') no-repeat;
   width: 161px;
   height: 61px;
   text-align: center;
   line-height: 61px;
   color: #cb4511;
   font-weight: bold;
   font-size: 36px;
   text-align: center;
   margin-bottom: 5px;
}

.year-text{
   margin-bottom: 20px;
   color: #3c3c3b;
   font-size: 14px;
}

.date-s{
   opacity: 0.7;
   font-size: 14px;
}

.fio-s{
   font-size: 36px;
   line-height: 36px;
   font-weight: bold;
   color: #0972dc;
   margin-top: 25px;
}

.dolg-s{
   font-size: 16px;
   color: #000000;
   margin-top: 10px;
   margin-bottom: 15px;
}

.photo-s img{
   border: 5px solid #ffffff;
   width: 150px;
   box-shadow: 0 0 5px rgba(0,0,0,0.3);
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   margin-bottom: 15px;
}

.blue-line{
   height: 4px;
   background: #0972dc;
   margin-bottom: 10px;
}

.small-text-about{
   color: #3c3c3b;
   font-size: 14px;
   padding-bottom: 30px;
   min-height: 150px;
}